root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{ex,exs}]
indent_style = space
indent_size = 2

[*.{erl,hrl}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
