/.eunit
/.release
/doc
/ebin
/lib/*/ebin/*
/lib/*/tmp
/lib/elixir/src/elixir.app.src
/lib/elixir/src/*_lexer.erl
/lib/elixir/src/*_parser.erl
/lib/elixir/test/ebin
/rel/elixir
erl_crash.dump
.elixir.plt
