language: erlang

otp_release:
  - 17.0
  - 17.3
  - 17.4
  - 17.5

sudo: false

env:
  - ELIXIR_ERL_OPTIONS=""
  - ELIXIR_ERL_OPTIONS="+T 9"

script: "make compile && rm -rf .git && make test"

notifications:
  irc: "irc.freenode.org#elixir-lang"
  recipients:
    - jose.valim@plataformatec.com.br
    - eric.meadows.jonsson@gmail.com

