language: bash
sudo: false

env:
  global:
    - ELIXIR_ASSERT_TIMEOUT=2000
  matrix:
    - OTP_RELEASE=OTP-20.0
    - OTP_RELEASE=OTP-20.1
    - OTP_RELEASE=OTP-20.2
    - OTP_RELEASE=OTP-20.3
    - OTP_RELEASE=OTP-21.0
    - OTP_RELEASE=OTP-21.1
    - OTP_RELEASE=OTP-21.2
    - OTP_RELEASE=maint
    - OTP_RELEASE=master

matrix:
  fast_finish: true
  allow_failures:
    - env: OTP_RELEASE=maint
    - env: OTP_RELEASE=master

install:
  - wget -O otp.tar.gz https://repo.hex.pm/builds/otp/ubuntu-14.04/${OTP_RELEASE}.tar.gz
  - mkdir -p otp
  - tar zxf otp.tar.gz -C otp --strip-components=1
  - otp/Install -minimal $(pwd)/otp
  - PATH=$(pwd)/otp/bin:$PATH

script:
  - ELIXIRC_OPTS="--warnings-as-errors" ERLC_OPTS="+warning_as_errors" make compile
  - rm -rf .git
  - make test
  - dialyzer -pa lib/elixir/ebin --build_plt --output_plt elixir.plt --apps lib/elixir/ebin/elixir.beam lib/elixir/ebin/Elixir.Kernel.beam
