%% Using Elixir as a Rebar dependency

%% This configuration file only exists so Elixir can be used
%% as a Rebar dependency, the same happens for the file
%% src/elixir.app.src.

%% In practice, Elixir is structured as OTP where many applications
%% are placed in the lib directory. Since this structure is not
%% supported by default by Rebar, after adding Elixir as a dependency
%% you need to explicitly add it to lib_dirs:
%%
%%   {lib_dirs, [
%%     "deps/elixir/lib"
%%   ]}.
%%

%% Run "make" as the proper compilation step
{post_hooks, [{compile, "make compile"}]}.

%% This prevents rebar_elixir_plugin from recompiling Elixir
{ex_opts, [{src_dirs, [".PHONY"]}]}.
