%% configure testing
{eunit_opts, []}.

%% configure compliation
{erl_opts, [
            warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            %% warn_missing_spec,
            %% warn_untyped_record,
            %% warnings_as_errors,
            debug_info
           ]}.

%% enable verbos for yecc
{yrl_opts, [
            {report, true},
            {verbose, false}
           ]}.

%% enable verbose for Leex
{xrl_opts, [
            {report, true},
            {verbose, false}
           ]}.

{xref_checks, [undefined_function_calls]}.
{lib_dirs, ["exbin"]}.

{clean_files, ["exbin/"]}.

%% TODO: prepare scripts which should be
%% called from here instead of raw commands
{pre_hooks, [
             {eunit, "mkdir -p .eunit"},
             {eunit, "cp exbin/* .eunit/"}
            ]}.

{post_hooks, [{compile, "make exbin -s"}]}.
