%% Using elixir as a rebar dependency

%% This configuration file only exists so Elixir can be used
%% as a rebar dependency, the same happens for the file
%% src/elixir.app.src.

%% In practice, Elixir is structured as OTP where many applications
%% are placed in the lib directory. Since this is structure is not
%% supported by rebar, after adding Elixir as a dependency, you need
%% to explicitly tell rebar which Elixir applications you want to use
%% use by adding them to your lib_dirs configuration:
%%
%%   {lib_dirs, [
%%     "deps/elixir/lib/elixir/ebin",
%%     "deps/elixir/lib/ex_unit/ebin"
%%   ]}.
%%

{ post_hooks, [{compile,"make compile"}] }.