# The directory Mix will write compiled artifacts to.
/_build/

# The directory Gleam will write compiled artifacts to.
/build/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# BEAM bytecode files.
*.beam

# Also ignore archive artifacts (built via "mix archive.build").
*.ez
