# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2021 The Elixir Team

name: Release Pre-build
description: "Builds Elixir release, ExDoc and generates docs"

inputs:
  otp:
    description: "The major OTP version"

  otp_version:
    description: "The exact OTP version (major.minor[.patch])"

  build_docs:
    description: "Whether docs have to be built"

runs:
  using: "composite"

  steps:
    - uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
      with:
        otp-version: ${{ inputs.otp_version }}
        version-type: strict

    - name: Build Elixir Release
      shell: bash
      run: | # zizmor: ignore[github-env]
        make Precompiled.zip
        mv Precompiled.zip "elixir-otp-${INPUT_OTP}.zip"
        echo "$PWD/bin" >> $GITHUB_PATH
      env:
        INPUT_OTP: ${{ inputs.otp }}

    - name: Install NSIS
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y nsis

    - name: Build Elixir Windows Installer
      shell: bash
      run: |
        export OTP_VERSION="$INPUT_OTP_VERSION"
        export ELIXIR_ZIP="$PWD/elixir-otp-${INPUT_OTP}.zip"
        (cd lib/elixir/scripts/windows_installer && ./build.sh)
        mv "lib/elixir/scripts/windows_installer/tmp/elixir-otp-${INPUT_OTP}.exe" .
      env:
        INPUT_OTP: ${{ inputs.otp }}
        INPUT_OTP_VERSION: ${{ inputs.otp_version }}
    - name: Get ExDoc ref
      if: ${{ inputs.build_docs }}
      shell: bash
      run: | # zizmor: ignore[github-env]
        if [ "$GITHUB_REF_NAME" = "main" ]; then
          ref=main
        else
          ref=v$(curl -s https://hex.pm/api/packages/ex_doc | jq --raw-output '.latest_stable_version')
        fi
        echo "EX_DOC_REF=$ref" >> $GITHUB_ENV
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      if: ${{ inputs.build_docs }}
      with:
        repository: elixir-lang/ex_doc
        ref: ${{ env.EX_DOC_REF }}
        path: ex_doc
        persist-credentials: false
    - name: Build ex_doc
      if: ${{ inputs.build_docs }}
      shell: bash
      run: |
        mv ex_doc ../ex_doc
        cd ../ex_doc
        ../elixir/bin/mix do local.rebar --force + local.hex --force + deps.get + compile
        cd ../elixir
    - name: Build Docs
      if: ${{ inputs.build_docs }}
      shell: bash
      run: |
        git fetch --tags
        make Docs.zip
