# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2021 The Elixir Team

name: "Release pre built"
description: "Builds elixir release, ExDoc and generates docs"
inputs:
  otp:
    description: "The major OTP version"
  otp_version:
    description: "The exact OTP version (major.minor[.patch])"
  build_docs:
    description: "If docs have to be built or not"
runs:
  using: "composite"
  steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - uses: erlef/setup-beam@5304e04ea2b355f03681464e683d92e3b2f18451 # v1.18.2
      with:
        otp-version: ${{ inputs.otp_version }}
        version-type: strict
    - name: Build Elixir Release
      shell: bash
      run: |
        make Precompiled.zip
        mv Precompiled.zip elixir-otp-${{ inputs.otp }}.zip
        echo "$PWD/bin" >> $GITHUB_PATH
    - name: Install NSIS
      shell: bash
      run: |
        sudo apt update
        sudo apt install -y nsis
    - name: Build Elixir Windows Installer
      shell: bash
      run: |
        export OTP_VERSION=${{ inputs.otp_version }}
        export ELIXIR_ZIP=$PWD/elixir-otp-${{ inputs.otp }}.zip
        (cd lib/elixir/scripts/windows_installer && ./build.sh)
        mv lib/elixir/scripts/windows_installer/tmp/elixir-otp-${{ inputs.otp }}.exe .

    - name: Build Docs
      if: inputs.build_docs
      uses: ./.github/workflows/build_docs
      with:
        otp_version: ${{ inputs.otp_version }}
        ex_doc_version: ${{ github.ref_name  == 'main' && 'main' || 'latest_stable' }}
        zip: true
