{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "elixir", "0.5.0",
        [
         kernel,
         stdlib,
         elixir
        ]},
       {rel, "start_clean", "1",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "elixir"},
       {profile, development},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_app_filters, ["\.gitignore"]},

       {app, elixir, [{lib_dir, "../lib/elixir"}]},
       {app, eex, [{lib_dir, "../lib/eex"},{incl_cond, include}]},
       {app, ex_unit, [{lib_dir, "../lib/ex_unit"},{incl_cond, include}]},

       {app, appmon, [{incl_cond, include}]},
       {app, asn1, [{incl_cond, include}]},
       {app, common_test, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},

       {app, cosEvent, [{incl_cond, include}]},
       {app, cosEventDomain, [{incl_cond, include}]},
       {app, cosFileTransfer, [{incl_cond, include}]},
       {app, cosNotification, [{incl_cond, include}]},
       {app, cosProperty, [{incl_cond, include}]},
       {app, cosTime, [{incl_cond, include}]},
       {app, cosTransactions, [{incl_cond, include}]},

       {app, crypto, [{incl_cond, include}]},
       {app, debugger, [{incl_cond, include}]},
       {app, dialyzer, [{incl_cond, include}]},
       {app, diameter, [{incl_cond, include}]},
       {app, et, [{incl_cond, include}]},
       {app, gs, [{incl_cond, include}]},
       {app, hipe, [{incl_cond, include}]},
       {app, ic, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, megaco, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, observer, [{incl_cond, include}]},
       {app, odbc, [{incl_cond, include}]},
       {app, orber, [{incl_cond, include}]},
       {app, os_mon, [{incl_cond, include}]},
       {app, otp_mibs, [{incl_cond, include}]},
       {app, parsetools, [{incl_cond, include}]},
       {app, percept, [{incl_cond, include}]},
       {app, pman, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, reltool, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, snmp, [{incl_cond, include}]},
       {app, ssh, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, test_server, [{incl_cond, include}]},
       {app, toolbar, [{incl_cond, include}]},
       {app, tools, [{incl_cond, include}]},
       {app, tv, [{incl_cond, include}]},
       {app, typer, [{incl_cond, include}]},
       {app, webtool, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]}
      ]}.

{target_dir, "elixir"}.

{overlay, [
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "../bin/elixir", "bin/elixir"},
           {copy, "../bin/elixir.bat", "bin/elixir.bat"},
           {copy, "../bin/elixirc", "bin/elixirc"},
           {copy, "../bin/elixirc.bat", "bin/elixirc.bat"},
           {copy, "../bin/iex", "bin/iex"},
           {copy, "../bin/iex.bat", "bin/iex.bat"}
          ]}.
