# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2021 The Elixir Team

name: CI for Markdown content

on:
  push:
    branches:
      - "main"
    paths:
      - "**/*.md"
  pull_request:
    paths:
      - "**/*.md"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  lint:
    name: Lint Markdown content

    strategy:
      fail-fast: false

    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 10

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63 # v21.0.0
