name: Release

on:
  push:
    tags:
      - v*

env:
  ELIXIR_OPTS: "--warnings-as-errors"
  ERLC_OPTS: "warnings_as_errors"
  LANG: C.UTF-8

permissions:
  contents: write

jobs:
  create_draft_release:
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Create draft release
        run: |
          gh release create \
            --repo ${{ github.repository }} \
            --title ${{ github.ref_name }} \
            --notes '' \
            --draft \
            ${{ github.ref_name }}
  release_pre_built:
    needs: create_draft_release
    strategy:
      fail-fast: true
      matrix:
        include:
          - otp: 25
            otp_version: "25.3"
          - otp: 26
            otp_version: "26.0"
            build_docs: build_docs
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 50
      - uses: ./.github/workflows/release_pre_built
        with:
          otp_version: ${{ matrix.otp_version }}
          otp: ${{ matrix.otp }}
          build_docs: ${{ matrix.build_docs }}
      - name: Upload Pre-built
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload --clobber "${{ github.ref_name }}" \
            elixir-otp-${{ matrix.otp }}.zip \
            elixir-otp-${{ matrix.otp }}.zip.sha{1,256}sum \
            elixir-otp-${{ matrix.otp }}.exe \
            elixir-otp-${{ matrix.otp }}.exe.sha{1,256}sum
      - name: Upload Docs to GitHub
        if: ${{ matrix.build_docs }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload --clobber "${{ github.ref_name }}" \
            Docs.zip \
            Docs.zip.sha{1,256}sum
